@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css);
@import url(https://fonts.googleapis.com/css?family=Montserrat);

.purim-minisite #co_index_container .co_body {
  display: none;
}

.purim-minisite #co_index_container {
  padding: 20px;
}
.purim-minisite .co_index .item .title a {
  color: #0B3C4C;
}
.purim-minisite .co_index .more, .co_index .more a {
  color: #0B3C4C;
}
.purim-minisite .co_index .byline {
  color: #33818F;
}
.purim-minisite table {
  font-size: 13px;
}
.purim-minisite .chabad_header h1 {
  font-family: 'Montserrat', sans-serif;
  font-size: 15px !important;
  color: #6F969F !important;
  letter-spacing: 1.5px;
  margin-left: 12px;
}
.purim-minisite .chabad_header h2 {
  font-family: 'Montserrat', sans-serif;
  font-size: 18px !important;
  color: #0B3C4C; !important;
  margin-top: -25px;
  margin-left: 0px;
  letter-spacing: 1.1px;
  text-decoration: none;
  text-transform: uppercase;
  
}
.purim-minisite .chabad_header a {
    text-decoration: none;
    text-align: center;
}

.purim-minisite div#cco_body .content_title_container .overlay {
    display: none;
}
.purim-minisite div.widget_header {
    display: none;
}
.purim-minisite #border_bottom {
    width: 975px;
}
.purim-minisite div#chabad_head {
    float: left;
    width: 358px !important;
}.purim-minisite td.chabad_logo {
    float: none;
}

.purim-minisite .chabad_logo a {
    text-decoration: none;
}

.purim-minisite td.chabad_logo a,
.purim-minisite td.chabad_logo h1,
.purim-minisite td.chabad_logo div {
    font-size: 40px;
}

.purim-minisite .chabad_logo h1 a img {
    max-height: 100px;
}

.purim-minisite td.chabad_text_head {

    box-sizing: border-box;
    float: none;
    vertical-align: middle;
}

.purim-minisite td.chabad_text_head img {
    float: right;
}.purim-minisite .chabad_navigator_bar {
    background-size: 100%;
    width: 975px;
    height: 36px;
}

.purim-minisite .mobile .chabad_navigator_bar { 
    width: 100%;
    height: auto;
}

.purim-minisite div#chabad_main_content .chabad_navigator_bar .chabad_menu_content {
    height: 100%;
    float-left: 0px; !important;
}

.purim-minisite .chabad_navigator_bar .chabad_menu_content {
}

.purim-minisite .chabad_navigator_bar ul.navi{
    height: 36px !important;
    line-height: 36px !important;
    margin: 0 !important;
    padding: 0 !important;
    position: relative !important;
    z-index: 2 !important;
}

.purim-minisite .chabad_navigator_bar ul li {
    float: none;
    list-style: none;

    z-index: 2;
}

.purim-minisite .chabad_navigator_bar .sub_menu {
    display: none;
    position: absolute;
    top: 36px;

    padding-top: 16px;
    background: transparent;
    visibility: visible;
}

.purim-minisite .chabad_navigator_bar ul li ul {
    padding: 0;
}

.purim-minisite .chabad_navigator_bar ul li ul li {
    border-bottom: 1px solid #8FCBD6;
    border-right: none;
    float: none;
    font-size: 10px !important;
    height: auto;
    line-height: 17px;
    min-height: 23px;
    padding: 3px 0;
    background: #41A0B1;
    text-align: center;
}

.purim-minisite .chabad_navigator_bar li:hover .sub_menu,
.purim-minisite .chabad_navigator_bar li:target .sub_menu {
    display: block;

}

.purim-minisite .chabad_navigator_bar ul li ul li:last-child {
    border: none;
}

.purim-minisite .chabad_navigator_bar ul li ul li a {
    display: inline-block;
    float: none;
    font-size: 11px !important;
    height: auto;
    max-width: 220px;
    min-width: 80px;
    padding: 2px 15px 0 15px;
}

.purim-minisite .chabad_navigator_bar ul li ul li a:hover,
.purim-minisite .chabad_navigator_bar ul li ul li a:target {
    background: none;
}

.purim-minisite .chabad_navigator_bar ul li:last-child {
    border-right: none;
}

.purim-minisite .chabad_navigator_bar ul li a {
    float: left;
    font-family: arial;
    font-weight: bold;
    height: 100%;
    padding: 0 16px;
    text-decoration: none;
}

.purim-minisite .chabad_navigator_bar ul li a.arrow {
    background: url('') no-repeat right center;
    padding-right: 26px;
}

.purim-minisite .chabad_navigator_bar ul li.active a.parent,
.purim-minisite .chabad_navigator_bar ul li a.selected,
.purim-minisite .chabad_navigator_bar ul li a:hover {
}

.purim-minisite .chabad_navigator_bar ul li a.first {
    padding-left: 0;
}.purim-minisite div#chabad_main_content {
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
    text-align: left;
    width: 975px;
}

.purim-minisite div#chabad_left_colum,
.purim-minisite div.chabad_left_colum,
.purim-minisite div.chabad_left_column {
    float: left;
    margin: 15px;
    margin-bottom: 0;
    width: 685px;
}

.purim-minisite div.content_full_width #chabad_left_colum,
.purim-minisite div.content_full_width .chabad_left_colum,
.purim-minisite div.content_full_width .chabad_left_column {
    float: none;
    width: auto;
}

.purim-minisite div#chabad_left_colum .content_page_full,
.purim-minisite div.chabad_left_colum .content_page_full {
    margin: 0 15px;
}

.purim-minisite div#chabad_right_colum,
.purim-minisite div.chabad_right_colum,
.purim-minisite div.chabad_right_column {
    float: left;

    margin-top: 15px;
    width: 245px;

}.purim-minisite div#chabad_right_colum > div {
    margin: 0 0 10px;
    overflow: visible;
    padding: 1px;
}

.purim-minisite #chabad_right_colum [class$=body] {
    font-size: 12px;
}

.purim-minisite div#chabad_body_content {
    float: right;
    padding-bottom: 15px;
    width: 600px;
}

.purim-minisite #navigation,
.purim-minisite .chabad_menu_content,
.purim-minisite div#chabad_head .chabad_content_head,
.purim-minisite .chabad_banner_content,
.purim-minisite .chabad_banner_content .chabad_image_content,
.purim-minisite .chabad_image_banner,
.purim-minisite div#chabad_left_colum .content_page,
.purim-minisite div.chabad_left_colum .content_page,
.purim-minisite .chabad_box_content_first,
.purim-minisite .chabad_box_content_second,
.purim-minisite .chabad_box_content_third,
.purim-minisite .chabad_title_box.no_line,
.purim-minisite .chabad_box_content_body,
.purim-minisite .chabad_box_gradient,
.purim-minisite .chabad_announce,
.purim-minisite .chabad_text_box,
.purim-minisite .chabad_text_box,
.purim-minisite .content_box_custom {
    float: none;
    width: initial; 
    padding-left: 0px;
}

.purim-minisite .chabad_banner_content .chabad_text_banner {
    float: left;
    padding: 0 0 20px;
    width: 100%;
}

.purim-minisite #content_banner:after {
    clear: both;
    content: " ";
    display: table;
}

.purim-minisite .chabad_banner_content .chabad_image_banner {
    max-height: 342px;
    overflow: hidden;
}

.purim-minisite div#content_banner {

}

.purim-minisite div#chabad_head .flowers,
.purim-minisite div#co_calendar .co_calendar_body .co_calendar_gradient .co_calendar_text div.item .image {
    float: left;
}

.purim-minisite .chabad_announce {
    margin: 10px;
    overflow: hidden;
}
.purim-minisite .chabad_box_content_first,
.purim-minisite .chabad_box_content_second,
.purim-minisite .chabad_box_content_third {
    overflow-x: initial !important;
}

.purim-minisite .chabad_banner_content .chabad_text_banner a.chabad_more_button {
    float: right;
}

.purim-minisite .chabad_image_banner img {
    height: auto;
    width: 100%;
}

.purim-minisite .chabad_text_box div {
    font-size: 14px;
}
.purim-minisite .co_section_head,
.purim-minisite .co_photo_gallery_head,
.purim-minisite .chabad_updates_head,
.purim-minisite .co_calendar_head {
    color: #fff !important;

    font-size: 20px;
    margin: 0 -1px;
}

.purim-minisite .co_section_body,
.purim-minisite .co_photo_gallery_body,
.purim-minisite .chabad_updates_body,
.purim-minisite .co_calendar_body,
.purim-minisite .chabad_box_text_body {
    margin: 10px;
}

.purim-minisite .co_section_text .item:last-child,
.purim-minisite .co_photo_gallery_text .item:last-child,
.purim-minisite .chabad_updates_text .item:last-child,
.purim-minisite .co_calendar_text .item:last-child {
    border-bottom: none !important;
}
.purim-minisite #co_photo_gallery .co_photo_gallery_head {

}

.purim-minisite .co_photo_gallery a {
    display: block;
    float: none !important;
    margin: 0 5px 10px;
    overflow: hidden;
}

.purim-minisite .co_photo_gallery a:last-child {
    margin-bottom: 0;
}

.purim-minisite .co_photo_gallery a img {
    border: none;
    overflow: hidden;
    width: 100%;
    height: auto;
}

.purim-minisite div#co_photo_gallery .co_photo_gallery_footer a {
    float: right;
}

.purim-minisite .chabad_logo p {
    margin: 0;
}
.purim-minisite div#chabad_head .chabad_navigator_bar .mobile_menu ul.navi {
        height:0px;
        overflow: hidden;
        transition: height 0.4s linear;
    }
    
    .purim-minisite div#chabad_head .chabad_navigator_bar .mobile_menu ul.navi li,
    .purim-minisite div#chabad_head .chabad_navigator_bar .mobile_menu ul.navi li a {
        float: none;
        display:block
    }
    .purim-minisite div#chabad_head .chabad_navigator_bar .mobile_menu ul.navi li a 
    {
        padding:5px 15px;
        text-align: left;
    }
    .purim-minisite div#chabad_head .chabad_navigator_bar .mobile_menu li.active a.parent,
    .purim-minisite div#chabad_head .chabad_navigator_bar .mobile_menu a.parent.selected,
    .purim-minisite div#chabad_head .chabad_navigator_bar .mobile_menu a.parent:hover,
    .purim-minisite div#chabad_head .chabad_navigator_bar .mobile_menu a.parent:target,
    .purim-minisite div#chabad_head .chabad_navigator_bar .mobile_menu .sub_menu li.last {
        border-bottom: 0 none;
    }
    .purim-minisite div#chabad_head .chabad_navigator_bar .mobile_menu {
        border-bottom:4px solid #7e766f;
    }
    .purim-minisite .mobile_menu_nav_button {
        position: relative;
        width: 100%;
        text-align: center;
        padding: 10px 0;
        font-weight:bold;
        font-size:9px!important;
        color: inherit;     
}
.purim-minisite .mobile_menu_nav_button:after {    
    content: "\25bc";        
    left: 10px;
    position: relative;    
    color: inherit;
}
.purim-minisite .mobile_menu.open .mobile_menu_nav_button:after{
    content: '\25b2';
}

.purim-minisite #chabad_main_content {
  max-width: 1000px !important;
width: 100% !important;
}

.purim-minisite #chabad_body_content {
width: 60%;
  margin-top: 50px;
  padding: 0;
}

.purim-minisite #chabad_head {
  margin-top: 30px;
  padding-right: 20px;
}
.purim-minisite #navigation {
  background: rgba(62,146,160,0.8);
  margin-top: 0px;
  margin-bottom: 20px;
padding-top: 1px;
color: #fff !important;
text-transform: uppercase;
}

.purim-minisite .chabad_left_column {
  background: #fff;

  margin: 0 !important;
  width: 100% !important;
    min-height: 350px;
}

.purim-minisite .navi {
  list-style: none!important;
    min-height: 18px !important;
padding: 0 !important;
font-size: 15px !important;
    width: 1000%;
}

.purim-minisite .navi li {
 float: left !important;
}

.purim-minisite .chabad_left_column p {
    padding: 20px;
}

.purim-minisite .chabad_left_column .home-image {
    width: 100%;
    padding: 0;
margin-bottom: -2px;
}

.purim-minisite .chabad_left_column .home-image img {
    width: 100%;
}

.purim-minisite .chabad_right_column {
  width: 100% !important;
}

.purim-minisite .chabad_right_column p {
  padding: 10px;
}



.purim-minisite .bottom-boxes {
}

.purim-minisite .bottom-boxes img {
    width: 48%;
  height: auto;
}

.purim-minisite .bottom-boxes .right {
    float: right;
}
.purim-minisite #sub_menu {
    display: none;
    visibility: visible;
  position: absolute;
  top: 25px;

  width: 200%;
z-index: 300;
}

.purim-minisite #sub_menu ul {
  color: #422352;
  height: auto;
    padding-top: 21px;
padding-left: 0;
  margin-left: 0;
}

.purim-minisite #sub_menu ul li {
  float: none;
clear: both;
width: 250px;
list-style: none;
}

.purim-minisite #sub_menu ul a {
  color: #422352;
padding: 10px 17px;
display: block;
background: #FDC19B;
width: 100%;
text-align: left;
text-transform: none;

}

.purim-minisite .item.parent:hover #sub_menu,
.purim-minisite .item.parent:target #sub_menu {
  display: block;
}

.purim-minisite .item.parent {
  text-indent: -9999px;
  color: #422352;
    position: relative;
  padding: 0px;
  margin-top: -16px;
    margin-bottom: 0;
}

.purim-minisite .item.parent a {
  visibility: visible;
  text-indent: 0;
  color: #fff;
  display: block;
  padding: 15px;
}
.purim-minisite .item.parent:first-child {
    padding-left: 5px;
}

.purim-minisite #navigation {
  padding-top: 13px !important;
  padding-bottom: 0px !important;
  padding-left: 8px !important;
  margin-bottom: 10px !important;
}

.purim-minisite #navigation .navi {
  margin: 10px 0 0x 0;
    padding: 0;
  margin-bottom: -18px;
  margin-top: 10px;

}
.purim-minisite #navigation li.parent, .purim-minisite #navigation a {
  float: none !important;
  padding: 5px;
}
.purim-minisite #navigation li.parent {
  display: inline-block;
    padding-bottom: 10px !important;
  visibility: hidden;
}

.purim-minisite #navigation li.parent:last-of-type {
    position: relative;
    top: -40.7px;
}

.purim-minisite #content_page {
    padding: 5px 15px;
}
.purim-minisite .form-header-group {
  margin: 20px;
  margin-bottom: 15px;
  margin-top: 30px;
  padding-bottom: 0px;
}

.purim-minisite #header_7 {
  margin-bottom: -25px;
}

.purim-minisite #formContainer {
    margin: 10px;   
  margin-top: -10px;;
}

.purim-minisite #co_content_container .center.small {
    padding-bottom: 20px;   
}

.purim-minisite .form-input-wide .form-html {
  margin: 0;
padding: 0;
}
.purim-minisite .form-input-wide .form-html p {
  margin: 0;
padding: 0;
  margin-top: 40px;
}
.purim-minisite .form-input-wide .form-html p strong {
  font-size: 18px;
}

.purim-minisite #formContainer .form-line {
  padding: 12px;
  padding-left: 30px;
  margin: 0;
}

.purim-minisite .navi .heading {
  display: none;
}

.purim-minisite .chabad_header:before {
  content: " ";
  display: block;
  width: 800px;
  height: 700px;
  background: url(https://minisites-85517.bitballoon.com/back-overlay.png) no-repeat;
  position: absolute;
  left: -350px;
  top: 140px;
  z-index: -1;
}

.purim-minisite .chabad_header {
  position: relative;
}
.purim-minisite div#chabad_main_content {
  overflow: visible;
}
.purim-minisite #chabad_body_content {
  overflow: hidden;
}

.purim-minisite #chabad_head h1 {
  position: absolute;
  color: rgba(255,255,255,0.4);
  text-align: center;
  font-size: 18px;
  width: 100%;
  left: -20px;
  top: 16px;
  text-transform: uppercase;
}


.purim-minisite #navigation li.parent a.parent {
  transition: all 500ms;
}
.purim-minisite #navigation li.parent.selected a.parent {
  color: #76C6D3;
}
.purim-minisite #navigation li.parent a.parent:hover,
.purim-minisite #navigation li.parent a.parent:target {
  background: rgba(255,255,255, 0.8);
  color: #053343;

}


.purim-minisite #navigation li.parent a.parent {
  margin-right: -6px !important;
  margin-left: 0px !important;
  padding-right: 12px !important;
  padding-left: 12px !important;

  margin-top: -1px;


  border-right: 1px solid rgba(255,255,255,0.2);

  font-size: 14px;
}



.purim-minisite #navigation li.parent {
  padding-left: 0px !important;
  padding-right: 0px !important;
}

.purim-minisite #navigation li.parent:last-child a.parent {
  border-right: 0px solid #C86281;
}

.purim-minisite .sub_menu .item {
  width: 150px;
}

.purim-minisite .sub_menu .item:hover a,
.purim-minisite .sub_menu .item:target a {
  color: #A2D6DB;
}
.purim-minisite .co_body img {
  max-width: 100%;
  height: auto;
}
@media only screen and (max-width: 1000px) { 
  .purim-minisite #navigation li.parent a.parent {
    border: none;
  }

  .purim-minisite .sub_menu   .item.last {
  margin-bottom: 40px;
}
  
  .purim-minisite #chabad_head {
    float: none !important;
  clear: both !important;
  width: 378px !important;
    max-width: 80%;
  margin: 30px auto;
  }

.purim-minisite #chabad_head img {
    width: 100%;
  }

.purim-minisite #chabad_body_page #chabad_main_content #navigation {
  width: 100% !important;
  padding: 1px 0px;
}
.purim-minisite #chabad_body_page #chabad_main_content #chabad_body_content {
  width: 90% !important;
    float: none !important;
    clear: both !important;
    margin: 0 auto;
}

.purim-minisite #chabad_body_content .chabad_left_column {
  width: 100% !important;
    min-height: 50px;
}
.purim-minisite #co_menu_container_wrapper{
display:none!important;
}
 
.purim-minisite div#co_menu_container.co_menu_container.clearfix{
display:none !important;
}
.purim-minisite div#co_menu_container_wrapper.co_menu_container_wrapper{
    display:none !important;
}
.purim-minisite body {
background-size: cover !important;
}


  .purim-minisite #navigation .chabad_menu_content li {
    
    width: 100%;
    top: 0 !important;
    padding-bottom: 0 !important;  
}

  .purim-minisite #navigation .chabad_menu_content li a {
    margin-bottom: -20px;
  }

  .purim-minisite #navigation .chabad_menu_content .sub_menu {
    background: none;
    position: static;
    margin-bottom: 50px;
  }

  .purim-minisite #navigation .chabad_menu_content .sub_menu li {
    background: none;
    border: none;
    text-align: left;
  }

  .purim-minisite div#chabad_main_content .chabad_navigator_bar .chabad_menu_content .navi  {
      background: #216572;
    height: auto;
    clear: both;
    position: absolute;
    width: 100%;
    height: auto !important;

  }

  .purim-minisite #chabad_body_page #chabad_main_content #navigation {
    background: none;
    padding: 0 !important;
    position: absolute;
  top: 0;
  right: 0;
  z-index: 1000;
  width: auto !important;
  }

  .purim-minisite #navigation:before {
  font-family: "FontAwesome";
  content: "\f0c9";
  font-size: 25px;
    background: #4096A4;
    position: fixed;
  right: 0;
  top: 0;
  float: right;
  text-align: right;
  z-index: 1000;
  width: 40px;
  height: 40px;
  padding: 10px;

  -webkit-border-bottom-left-radius: 70px;
-moz-border-radius-bottomleft: 70px;
border-bottom-left-radius: 70px;

    transition: all 400ms;
  }


  .purim-minisite div#chabad_main_content .chabad_navigator_bar .chabad_menu_content .navi  {
    height: 93.9vh !important;
    width: 190px;
    max-width: 70vw;
    position: fixed !important;
  float: right;
  padding: 30px !important;
-webkit-box-shadow: 0px 0px 46px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 0px 46px 0px rgba(0,0,0,0.75);
box-shadow: 0px 0px 46px 0px rgba(0,0,0,0.75);

  right: -260px;
      transition: right 200ms;

      /*z-index: 1001 !important;*/

  }

  .purim-minisite div#chabad_main_content .chabad_navigator_bar:hover:before,
  .purim-minisite div#chabad_main_content .chabad_navigator_bar:target:before
  .purim-minisite div#chabad_main_content .chabad_navigator_bar.clicked:before {
    right: -45px;
    top: -45px;
  }

.purim-minisite div#chabad_main_content .chabad_navigator_bar:hover .chabad_menu_content .navi,
.purim-minisite div#chabad_main_content .chabad_navigator_bar:target .chabad_menu_content .navi,
.purim-minisite div#chabad_main_content .chabad_navigator_bar.clicked .chabad_menu_content .navi {
      right: 0;

  }
.purim-minisite .chabad_header:before  {
    top: 180px;
}

.purim-minisite {
  max-width: 100%;
  overflow: hidden;
}

.purim-minisite #navigation .item.arrow:before {
  content: "\f0ab";
  font-family: "FontAwesome";
  text-indent: 0;
  color: #fff;
  font-size: 30px;
  float: right;
  display: block;
  visibility: visible;
  width: 50px;
  height: 30px;
  margin-top: 5px;
  margin-right: 10px;
  text-align: center;
}


.purim-minisite .navi .sub_menu_toggle {
/*  content: "\f0ab";
  font-family: "FontAwesome";
  text-indent: 0;
  color: #fff;
  font-size: 30px;
  float: right;
  display: block;
  visibility: visible;
  width: 50px;
  height: 30px;
  margin-top: 5px;
  margin-right: 10px;
  text-align: center;*/
  display: none !important;
}


.purim-minisite #navigation .chabad_menu_content .sub_menu li {
  padding: 15px 4px;
}

.mobile .purim-minisite #navigation .chabad_menu_content li.parent a {
    margin-bottom: 10px;
}

}





@media (max-width:500px) {
.purim-minisite #chabad_head h1 {
  font-size: 2.5vw !important;
}
.purim-minisite #chabad_head h2 {
  font-size: 2.6vw !important;
  margin-top: -1vw;

}
}





.purim-minisite .form-line-column {
    WHITE-SPACE: normal;
}

.purim-minisite .chabad_left_column .co_body {
  padding: 10px;
}

.purim-minisite .chabad_left_column .co_body p {  margin: 0;
  margin-bottom: 10px;
  padding: 1px 0px;
  padding-top: 0px;
  font-size: 14px;
}
.purim-minisite .chabad_left_column .co_body p:first-child:not(.SCHeading_2) {

  padding-top: 12px;
}

.purim-minisite .chabad_left_column .co_body .SCHeading_1,
.purim-minisite .SCHeading_1,
.purim-minisite .co_body h1,
.purim-minisite .form-html h1 {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
  font-size: 24px;
  color: #1C5B6A;
  text-transform: uppercase;
  margin-top: 11px;
}
.purim-minisite .co_body h1 {
  margin-top: 16px;
}

.purim-minisite .chabad_left_column .co_body .SCHeading_2,
.purim-minisite .SCHeading_2 {
    font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  font-size: 16px;
  margin-bottom: 5px;
  margin-top: 20px;
  color: #1C5B6A;
}
.purim-minisite .chabad_left_column .co_body .SCHeading_3,
.purim-minisite .SCHeading_3 {
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  font-size: 14px;
  margin-bottom: 5px;
  margin-top: 20px;
}

.purim-minisite .chabad_left_column {
  /*box-shadow: 0px 0px 20px #ccc;
  width: calc(100% - 4px) !important;*/
  width: 100% !important ;
  margin-left: 2px !important;
}

.purim-minisite H2.form-header {
  FONT-SIZE: 1.5em;
  color: #1C5B6A;
}



.purim-minisite #formContainer {
  margin-left: 0;
  margin-top: 5px;
}

.purim-minisite #formContainer .form-line {
  padding-left: 14px;
}

.sukkos-minisite .form-header-group {
  margin-left: 14px;
  margin-top: 15px;
}

.purim-minisite .form-input-wide .form-html p {
  margin-top: 20px;
}


.purim-minisite .accent-color {
  color: #7E530E !important;
}


/* Responsive Form Builder Styles */
@media (max-width: 500px) {
  .purim-minisite .form-input,
  .purim-minisite .form-address-table tbody td {
    display: inline-block;
  }
  .purim-minisite .form-input,
  .purim-minisite .form-address-table,
  .purim-minisite .form-address-table tbody,
  .sukkos-minisite .form-address-table tbody tr,
  .purim-minisite .form-address-table tbody td,
  .purim-minisite .form-payment-methods {
    max-width: 100%;
    box-sizing: border-box;
  }
  .purim-minisite .form-payment-methods,
  .purim-minisite .form-address-table,
  .purim-minisite .form-address-table tbody tr:not(.hide),
  .purim-minisite .form-address-table tbody,
  .purim-minisite .form-payment-methods label {
    display: block;
  }
  .purim-minisite .form-line .form-payment-methods label {
    margin: 0;
  }
  .purim-minisite .form-textarea,
  .purim-minisite .form-textbox, .form-sub-label-container {
    display: inline-block;
    max-width: 100%;
    box-sizing: border-box;
  }
  
  .purim-minisite .form-buttons-wrapper {
    margin-left: 0 !important;
  }
  .purim-minisite .credit_card table,
  .purim-minisite .credit_card table tr,
  .purim-minisite .credit_card table td {
    display: block;
    max-width: 100%;
    box-sizing: border-box;

  }
}

.purim-minisite .scrollable-table {
  overflow: auto;
  max-width: 100%;
  display: block;
}

@media (max-width: 550px) {
  .purim-minisite .collapsible-table td {
    display: block;
    width: 98%;
  }
}